<nav class="navbar navbar-fixed-top">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <img class="nav-left-item nav-back" src="/img/ic_left.png">
        </div>
        <div class="nav-center-item col-xs-8 col-md-8">
            <div class="center-block">
                <p class="nav-title-text text-center"><%= titleText %></p>
            </div>
        </div>
        <div class="col-xs-2 col-md-2">
            <img class="nav-right-item nav-more" src="/img/ic_more.png">
        </div>
    </div>
</nav><!-- /.navbar -->
