<div class="pull-left">
	<p>. sadanghaeng 2015</p>
</div>

<div class="pull-right social">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-comment-o"></i></a>
</div>