<div class="pull-left" style="margin-left: 10px">
	<p>&copy; sadanghaeng 2015</p>
</div>

<div class="pull-right social" style="margin-right: 20px">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-comment-o"></i></a>
</div>