<!DOCTYPE html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="header">
		<% include ../partials/header %>
	</div>

	<div class="splash">
		<div class="container">
			<div class="jumbotron">
				<h1>garim이란 . . .?</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet consectetur lacus, id malesuada felis. Aenean malesuada accumsan velit imperdiet feugiat. Nulla ac leo vitae tellus aliquam laoreet a a nisi. Ut imperdiet ex nunc, non luctus elit convallis a. Donec nec aliquet velit. Duis luctus vitae nunc eget blandit. Nulla at maximus lorem. Suspendisse ultricies risus ut purus faucibus, vel blandit ligula finibus. Proin a sem ac leo luctus bibendum. Fusce mollis non arcu a placerat. Suspendisse sed arcu in magna vehicula efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque fringilla ante nec quam condimentum, non rhoncus arcu gravida. Donec pharetra urna id magna venenatis porta. Aliquam a augue ac erat finibus varius eget quis arcu. Morbi a metus gravida, pellentesque lorem et, laoreet sapien.</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<% include ../partials/footer %>
	</div>
</body>