<!DOCTYPE html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="header">
		<% include ../partials/header %>
	</div>

	<div class="splash" style="background: url('/img/test-bg.jpg') center center; height: 1000px">
		<div class="container" style="text-align: center">
			<h1 style="color: white">anonymous boards for college students</h1>
		</div>
	</div>

	<div class="footer">
		<% include ../partials/footer %>
	</div>
</body>