<!DOCTYPE html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="header">
		<% include ../partials/header %>
	</div>

	<div class="container footer">
		<% include ../partials/footer %>
	</div>
</body>