<!DOCTYPE html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/css/login.css"/>
</head>

<body>
	<div class="login">
			<div>
				<img class="logo-img" src="/img/garim_small.png" alt=""/>
			</div>
			<div class="login-text">316개 학교<br>155,566,222개 글<br></div>
			우리 학교 이야기가 궁금하세요?<br>
			지금바로 시작하세요!
			<div class="login-form">
				<form action="">
					<input type="email" class="email" placeholder="E-mail"/><br>
					<input type="password" class="pwd" placeholder="Password"/>
				</form>
				<div class="login-btn">Log in</div>
				<div class="join-btn">회원가입</div>
			</div>
		</div>
</body>