<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html>
<head>
    <% include ../partials/head %>
    <!-- post.css -->
    <link href="/css/post.css" rel="stylesheet">
</head>

<body>
<!-- .navbar -->
<% var titleText = "My GARIM"; %>
<% include ../partials/common-nav %>


<% include ../partials/footer %>


</body>

</html>