<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Garim mobile web page">
    <meta name="author" content="Sadanghaeng">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Garim</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- main.css -->
    <link href="/css/post.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({

            // For google fonts
            google: {
                families: ['Droid Serif']
            },
            // For early access or custom font
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }

        });
    </script>
</head>

<body>
    <!-- .navbar -->
    <nav class="navbar navbar-fixed-top post-navbar">
        <div class="post-nav-con">
            <img class="nav-left-item nav-image" src="/img/ic_left.png">
        </div>
    </nav><!-- /.navbar -->

    <!-- .post-container -->
    <div class="post-container container-fluid" data-id="<%= pid %>">
        <div class="title-container">
            <p>타이틀입니다.</p>
        </div>

        <div class="info-container">
            <span class="post-author">글쓴이</span>
            <span class="post-date">16.01.27 16:00</span>
            <span class="post-label post-view-label">View</span>
            <span class="post-value post-view">26</span>
        </div>

        <div class="content-container">
            <textarea id="post_content">내용이빈다.</textarea>
        </div>
    </div><!-- /.post-container -->

    <div class="comment-container container-fluid">
        <div class="post-info-container">
            <span class="post-like-label active"></span>
            <span class="post-value post-like">100</span>
            <span class="post-dislike-label"></span>
            <span class="post-value post-dislike">3</span>
            <div class="comment-info">
                <span class="comment-text">댓글</span>
                <span class="comment-count">20</span>
            </div>

        </div>
        <ul class="comment-list-container">
            <li class="comment-item">
                <div class="author">작성자</div>
                <div class="content">내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다내용입니다.내용입니다.내용입니다.내용입니다내용입니다.내용입니다.내용입니다.내용입니다</div>
                <div class="comment-info">
                    <span class="comment-date">2시간전</span>
                    <span class="like-text">좋아요</span>
                    <span class="like-label">하트</span>
                    <span class="comment-like">27</span>
                </div>
            </li>
            <li class="comment-item">
                <div class="author">작성자</div>
                <div class="content">내용입니다.내용입니다.내용입니다.내용입니다.</div>
                <div class="comment-info">
                    <span class="comment-date">2시간전</span>
                    <span class="like-text">좋아요</span>
                    <span class="like-label">하트</span>
                    <span class="comment-like">27</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="comment-write-fixed-bottom container-fluid">
        <div class="row">
            <div class="col-xs-10 col-md-10 comment-input">
                <input type="text" id="comment_write_input" placeholder="댓글을 입력하세요"/>
            </div>
            <div class="col-xs-2 col-md-2 padding-zero">
                <p id="comment_write_btn" class="text-center">전송</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/lib/ie10-viewport-bug-workaround.js"></script>
</body>

</html>