<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html>
<head>
    <% include ../partials/head %>
    <!-- search.css -->
    <link href="/css/search.css" rel="stylesheet">
</head>

<body>
<!-- .navbar -->
<nav class="navbar navbar-fixed-top post-navbar">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <img class="nav-left-item nav-image" src="/img/ic_left.png">
        </div>
        <div class="nav-search-input col-xs-8 col-md-8">
            <input id="search_input" type="text" placeholder="찾고 싶은걸 여기에 적으세요">
        </div>
        <div class="nav-search-btn col-xs-2 col-md-2">
            <button id="search_btn" class="search-btn btn">검색</button>
        </div>
    </div>
</nav><!-- /.navbar -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/util/HttpUtil.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/lib/ie10-viewport-bug-workaround.js"></script>
</body>

</html>