<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Garim mobile web page">
    <meta name="author" content="Sadanghaeng">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Garim</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- main.css -->
    <link href="/css/search.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({

            // For google fonts
            google: {
                families: ['Droid Serif']
            },
            // For early access or custom font
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }

        });
    </script>
</head>

<body>
<!-- .navbar -->
<nav class="navbar navbar-fixed-top post-navbar">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <img class="nav-left-item nav-image" src="/img/ic_left.png">
        </div>
        <div class="nav-search-input col-xs-8 col-md-8">
            <input id="search_input" type="text" placeholder="찾고 싶은걸 여기에 적으세요">
        </div>
        <div class="nav-search-btn col-xs-2 col-md-2">
            <button id="search_btn" class="search-btn btn">검색</button>
        </div>
    </div>


</nav><!-- /.navbar -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/util/HttpUtil.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/lib/ie10-viewport-bug-workaround.js"></script>
</body>

</html>