<!DOCTYPE html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/css/signup.css"/>
</head>

<body>
	<div class="signup">
		<div style="height:30%;"></div>
		<div class="signup-text">소속 학교의 본인 이메일 주소를<br>입력해주세요.</div>
		<div class="signup-form">
			<form action="">
				<input id="user_email" type="email" class="email" placeholder="E-mail"/><br>
				<input id="user_pwd" type="password" class="pwd" placeholder="Password"/>
				<input id="user_pwd2" type="password" class="pwd" placeholder="Password Confirm"/>
			</form>
			<div id="signup_btn" class="signup-btn">가입하기</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/util/HttpUtil.js"></script>
	<script src="/js/signup-page/app.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/lib/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
