<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html>
<head>
    <% include ../partials/head %>
    <!-- main.css -->
    <link href="/css/write.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-fixed-top write-navbar">
        <div class="write-nav-con">
            <img class="nav-left-item nav-image" src="/img/ic_left.png">
            <span class="nav-right-item post-btn">Post</span>
        </div>
    </nav><!-- /.navbar -->

    <div class="post-container container-fluid">
        <div class="title-container">
            <label>Title: </label>
            <input id="post_title" placeholder="제목을 입력해주세요"/>
        </div>
        <div class="content-container">
            <textarea id="post_content" placeholder="내용을 입력해주세요"></textarea>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/lib/ie10-viewport-bug-workaround.js"></script>
</body>

</html>